html {
    height: 100%;
}
body {
    background: linear-gradient(180deg, rgba(178,203,238,1) 65%, rgba(224,234,253,1));
}
.welcome-title {
    position: relative;
    top: 30vh;
    text-align: center;
}
.welcome-main-title {
    color: #fff;
    text-shadow: 2px 2px #000;
}
.welcome-sub-title {
    color: #fff;
    text-shadow: 2px 2px #000;
}
.enter-game {
    text-align: center;
    position: relative;
    top: 35vh;
}
.start-link {
    text-decoration: none;
    font-size: xx-large;
    background-color: white;
    color: black;
    padding-inline: 50px;
    padding-block: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
}
.start-link:hover{
    box-shadow: none;
}
.welcome-btn-txt {
    font-size: 30px;
}
.title{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.qr-code-grid{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    padding: 20px;
}
