html {
    height: 100%;
}

body {
    background: linear-gradient(180deg, rgba(178, 203, 238, 1) 65%, rgba(224, 234, 253, 1));
}

.welcome-title {
    position: relative;
    top: 30vh;
    text-align: center;
}

.welcome-main-title {
    color: #fff;
    text-shadow: 2px 2px #000;
}

.welcome-sub-title {
    color: #fff;
    text-shadow: 2px 2px #000;
}

.enter-game {
    text-align: center;
    position: relative;
    top: 35vh;
}

.start-link {
    text-decoration: none;
    font-size: xx-large;
    background-color: white;
    color: black;
    padding-inline: 50px;
    padding-block: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
}

.start-link:hover {
    box-shadow: none;
}

.welcome-btn-txt {
    font-size: 30px;
}

.title {
    color: white;
    font-size: 42px;
    background-color: blue;
    border-radius: 10px;
    width: 30rem;
    position: relative;
    top: 26px;
    padding: 6px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 500px) {
    .title {
        left: 28vh;
    }
}

.qr-code-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    height: 50rem;
    border-radius: 10px;
}

.qrcode::after {
    display: block;
    padding-top: 10px;
    text-align: center;
  }

/* Login pagina */
.login {
    position: relative;
    text-align: center;
    top: 40vh;
}

.d-nummer {
    font-size: 22px;
    height: 4rem;
    width: 23rem;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 10px;
    color: #000;
}

.login-btn {
    background: #fff;
    margin-left: 20px;
    font-size: 22px;
    padding: 19px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.login-title {
    text-align: center;
    position: relative;
    top: 38vh;
    color: #fff;
    text-shadow: 2px 2px #000;
}
.verhaal{
    background-color: white;
    padding: 20px;
    height: 50rem;
    border-radius: 10px;
}
.qrcode-text{
    text-align: center;
}
@media (max-width: 768px) {

    .mobile-header {
        color: white;
        font-size: 20px;
        background-color: blue;
        border-radius: 10px;
        width: 12rem;
        position: relative;
        top: -39px;
        padding: 6px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-verhaal {
        background-color: white;
        padding: 20px;
        height: 44rem;
        border-radius: 10px;
        margin: 39px 14px 14px 14px;
    }

    .mobile-names{
        margin-top: 7px;
    }

    .mobile-radio{
        margin-top: 200px;
    }

    .mobile-submit{
        float: right;
        background: rgb(101, 101, 255);
        margin-left: 20px;
        font-size: 10px;
        padding: 12px;
        border-radius: 5px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

}